body {  
  padding: 0;
  font-family: sans-serif;
  margin:0px !important;
  background-color: rgba(255, 255, 255, 0.568);
  
}

#my-extension-root{
  width: 400px;
  height: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 2147483647;
  background-color: rgba(255, 255, 255, 0);
  /* box-shadow: 0px 0px 5px #0000009e; */
  margin:0px !important;
}
